body {
    margin: auto;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #217c89, #165e69, #0d434d, #06262b);
    padding: 5px 50px;
}

.couleur {
    color: #217c89;
}

